
# **infra
**script
.helmignore
*.lock
*.tgz
*.tf
.helmignore
Chart.lock
*.tgz
letsencrypt_prod.yaml
letsencrypt_staging.yaml
secret.tfvars
node_modules
yarn.lock
*.aof
*.rdb
talkit-prod-25b0dcb1dae7.json
**.drone.yml
pgdata
redisdata
.eslintcache
