// Kindly press Ctrl+A and then press Ctrl+/ to use the code


// Primary Secondary and other colors
:root {
    --primaryColor  : #d92b21;
    --secondaryColor: red;
    --textColor     : #3d3d3d
}

$primaryColor   : var(--primaryColor);
$secondaryColor : var(--secondaryColor);
$textColor      : var(--textColor);

// // Kindly press Ctrl+A and then press Ctrl+/ to use the code

// // Primary Secondary and other colors

$primaryLight: #ea5d5f;
$textColor   : #000000;
$whiteColor  : #ffffff;
$iconColor1  : #48bfe3;
$iconColor2  : #7ae582;

// // Gradiant color
$grey9: #212529;
$grey8: #343a40;
$grey7: #495057;
$grey6: #6c757d;
$grey5: #adb5bd;
$grey4: #ced4da;
$grey3: #dee2e6;
$grey2: #e9ecef;
$grey1: #f8f9fa;
$grey0: #ffffff;

// $gradiant: linear-gradient(158.81deg, #009ffd 0%, #2a2a72 100%);

// // web background color

$backgroundColor: #f7f7f7;