.chat-box-container {
	flex: 1;
	padding: 25px 50px;
	display: flex;
	flex-direction: column-reverse;
	background-color: $grey0 !important;
	position: relative;
	justify-content: space-between;
	.receiver-message-box {
		display: flex;
		justify-content: flex-end;
	}
}
