.chat-main-panel-container {

    .left-panel {
        width           : 520px;
        height          : 100%;
        padding         : 25px 0px 25px 25px;
        display         : flex;
        background-color: $grey1;
        display         : flex;
        justify-content : space-between;
    }
}